<?php

define('BASEURL', '');

//DB
define('DB_HOST', '');
define('DB_USER', '');
define('DB_PASS', '');
define('DB_NAME', '');

//PHPMAILER
define('SMTP_HOST', '');
define('SMTP_UNAME', '');
define('SMTP_PASSWORD', '');
define('SMTP_PORT', );